@model MLSaleBoard.Models.Items

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Items</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seller)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
